<a href=""></a>
<h2>Purchase Detail</h2>
<section class="products">
    <ul id="cart-products-container"></ul>
</section>

<button disabled id="comprar-button">Comprar</button>
<p id="message-container"></p>

<script src="/js/cart.js"></script>